<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/admin_topnavi.css">

<style>
    
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea, input[type=file] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<script>
function getSubList(obj){
        // location.href="/admin/product/sublist?topcategory_id="+obj.value;

        //비동기로 시도
        var xhttp=new XMLHttpRequest();
        xhttp.onreadystatechange=function(){//비동기 객체의 완료 시점을 알기 위해서 사용
          if(this.readyState==4 && this.status==200){
            var subArray = JSON.parse(this.responseText);//서버가 보낸 데이터가 문자열이므로 parse
            //alert(subArray[0]);
            //서브 카테고리의 select 박스를 동적으로 제어
            var subcategory_id=document.getElementById("subcategory_id");
            //기존의 option은 모두 지우기
            var len = subcategory_id.length;

            for(var i=0;i<len;i++){
              subcategory_id.remove(1);
            }
            for(var i=0;i<subArray.length;i++){
              var sub=subArray[i];//배열에서 json객체 1개 꺼내기
              var op = document.createElement("option");//<option>태그와 동일
              op.text=sub.sub_name;//<option>여기<//option>
              op.value=sub.subcategory_id;//<option vlaue="여기"><//option>
              subcategory_id.add(op);
          }
          }
        }
        xhttp.open("get","/admin/product/sublist?topcategory_id="+obj.value,true);
        xhttp.send();
    }
    //상품 등록 요청
    function regist(){
      //유효성 체크
      if(document.getElementById("topcategory_id").value=="0"){
        alert("최상위 카테고리를 선택하셔야 합니다.");
        return;
      }
      if(document.getElementById("subcategory_id").value=="0"){
        alert("하위 카테고리를 선택하셔야 합니다.");
        return;
      }
      if(document.getElementById("product_name").value==""){
        alert("상품명을 입력하세요");
        document.getElementById("product_name").focus();
        return;
      }
      if(document.getElementById("price").value==""){
        alert("가격을 입력하세요");
        document.getElementById("price").focus();
        return;
      }
      if(isNaN(document.getElementById("price").value)){
        alert("가격은 숫자로 입력하세요");
        document.getElementById("price").focus();
        return;
      }
      if(document.getElementById("brand").value==""){
        alert("브랜드를 입력하세요");
        document.getElementById("brand").focus();
        return;
      }
      if(document.getElementById("detail").value==""){
        alert("상세설명을 입력하세요");
        document.getElementById("detail").focus();
        return;
      }
      if(document.getElementById("product_img").value==""){
        alert("이미지를 업로드하세요");
        return;
      }
      /*tag간에 구조적인 소속관계는 DOM화 되었을 때도 유지된다.
      따라서 form태그를 접근할 때, 반드시 id, name이외에도 DOM의 소속관계로 접근 가능*/
      form1.action="/admin/product/regist";
      form1.method="post";
      form1.encoding="multipart/form-data";
      form1.submit();
    }
</script>
</head>
<body>

    <%- include('../inc/top_navi')%>
<h3>Contact Form</h3>
<div class="container">
  <form name="form1">
    <select id="topcategory_id" name="topcategory_id" onChange="getSubList(this)">
        <option value="0">상위 카테고리 선택</option>
        <%for(var i=0; i<record.length;i++){%>
            <%var topcategory = record[i];//배열에 있는 json꺼내기%>
        <option value="<%=topcategory.topcategory_id%>"><%=topcategory.top_name%></option>
        <%}%>
    </select>
        <select id="subcategory_id" name="subcategory_id">
          <option value="0">하위 카테고리 선택</option>
        </select>
    <input type="text" id="product_name" name="product_name" placeholder="상품명">
    <input type="text" id="price" name="price" placeholder="가격">
    <input type="text" id="brand" name="brand" placeholder="브랜드">
    <textarea id="detail" name="detail" placeholder="상세설명" style="height:200px"></textarea>
    <input type="file" id="product_img" name="product_img">

    <input type="checkbox" >85
    <input type="checkbox" >90
    <input type="checkbox" >95
    <input type="checkbox" >100
    <input type="checkbox" >105

    <input type="button" value="Submit" onClick="regist()">
  </form>
</div>

</body>
</html>